body {
  background-color: #ffe227;
  font-family: 'Titillium Web', sans-serif;
}
* {
  border: 1px solid red;
}
.navbar {
  background-color: #ffe227;
}
.nama h2 {
  font-weight: bold;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ffe227;
}
.heroimg {
  margin-top: 0px;
  background-image: url('img/profil.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 370px;
  height: 370px;
  border-left: 5px solid #1c1c1c;
}
.hero {
  margin-top: 0px;
  background-image: url('img/ilustrasi.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-radius: 100px;
}
.nama {
  padding-top: 20px;
}
section {
  padding-top: 5rem;
}
#about {
  background-color: #1c1c1c;
}
.desk {
  font-size: 1.2em;
  font-weight: lighter;
  letter-spacing: 1.7px;
  opacity: 0.9;
}
.desk span {
  font-size: 1.4em;
  font-weight: bold;
}
.gallery {
  background-color: #ffe227;
  padding: 80px 0;
}
.gallery img {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  cursor: pointer;
}
#gallery-modal .modal-img {
  width: 100%;
}

.card {
  background-color: #212121;
}
#contact {
  background-color: #1c1c1c;
  padding-bottom: 30px;
}
footer {
  background-color: #0c0c0c;
}
